Repository falsepopsky/mobygames, changes with the labels that .github/labeler.yaml gives for each.
All labels: 📦 @untidy/mobygames, 📚 docs, 🧪 tests, ⚙️ configs

.github/labeler.yaml:

"📦 @untidy/mobygames":
  - "packages/api/src/**"
"📚 docs":
  - "packages/web/**"
  - "README.md"
  - "packages/api/README.md"
"🧪 tests":
  - "packages/api/tests/**"
  - "mocks/**"
"⚙️ configs":
  - ".prettierrc"
  - ".eslintrc.cjs"

chore: update configs
  .devcontainer/devcontainer.json
  mocks/handlers/index.ts
  packages/api/tests/index.test.ts
  packages/eslint-config-untidy/index.cjs
Labels: 🧪 tests

test: add groups, genres and platforms
  mocks/handlers/genres.ts
  mocks/handlers/groups.ts
  mocks/handlers/platforms.ts
  packages/api/tests/genres.test.ts
  packages/api/tests/groups.test.ts
  packages/api/tests/platforms.test.ts
Labels: 🧪 tests

fix: return types and sort
  packages/api/package.json
  packages/api/src/index.ts
Labels: 📦 @untidy/mobygames

deps: bump to latest
  pnpm-lock.yaml
Labels: none

test: add tests for games API
  mocks/handlers/games.ts
  packages/api/tests/games.test.ts
Labels: 🧪 tests

chore: turn off naming in tests
  packages/eslint-config-untidy/index.cjs
Labels: none

chore: update deps
  package.json
  packages/api/package.json
  packages/eslint-config-untidy/package.json
  pnpm-lock.yaml
Labels: none

chore: add no console
  packages/eslint-config-untidy/index.cjs
Labels: none

chore: add changesets
  .changeset/bright-buckets-approve.md
Labels: none

chore: add deps and configs for docs
  .devcontainer/devcontainer.json
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  packages/web/.astro/types.d.ts
  packages/web/astro.config.js
  packages/web/package.json
  packages/web/src/content/config.ts
  packages/web/src/env.d.ts
  packages/web/src/tailwind.css
  packages/web/tailwind.config.js
  packages/web/tsconfig.json
  pnpm-lock.yaml
Labels: 📚 docs, ⚙️ configs

chore: update actions
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: none

deps: bump to latest
  package.json
  packages/api/package.json
  packages/eslint-config-untidy/package.json
  packages/web/package.json
  pnpm-lock.yaml
Labels: 📚 docs

chore: add license and README
  LICENSE
  README.md
  packages/api/LICENSE
  packages/api/README.md
Labels: 📚 docs

chore: update docs and configs
  packages/api/src/index.ts
  packages/eslint-config-untidy/index.cjs
  pnpm-lock.yaml
Labels: 📦 @untidy/mobygames

web: add guides
  packages/web/astro.config.js
  packages/web/public/favicon.ico
  packages/web/src/assets/whale.png
  packages/web/src/components/card.astro
  packages/web/src/components/details.astro
  packages/web/src/components/grid.astro
  packages/web/src/components/tag.astro
  packages/web/src/content/docs/guides/faq.mdx
  packages/web/src/content/docs/guides/getting-started.mdx
  packages/web/src/content/docs/guides/prerequisites.mdx
  packages/web/src/content/docs/guides/supported-endpoints.mdx
  packages/web/src/content/docs/index.mdx
Labels: 📚 docs

web: add API endpoints
  packages/web/src/content/docs/api/games/games.mdx
  packages/web/src/content/docs/api/games/random.mdx
  packages/web/src/content/docs/api/games/recent.mdx
  packages/web/src/content/docs/api/genres.mdx
  packages/web/src/content/docs/api/groups.mdx
  packages/web/src/content/docs/api/index.mdx
  packages/web/src/content/docs/api/key.mdx
  packages/web/src/content/docs/api/platforms.mdx
Labels: 📚 docs

web: add api
  packages/web/.astro/types.d.ts
  packages/web/src/content/docs/api/games/covers.mdx
  packages/web/src/content/docs/api/games/id.mdx
  packages/web/src/content/docs/api/games/platformid.mdx
  packages/web/src/content/docs/api/games/platforms.mdx
  packages/web/src/content/docs/api/games/screenshots.mdx
Labels: 📚 docs

chore: add homepage
  packages/api/package.json
  packages/api/tests/games.test.ts
Labels: 🧪 tests

chore: ignore env file
  .eslintrc.cjs
Labels: ⚙️ configs

format: ignore .astro folder
  .prettierignore
Labels: none

chore: add deploy to gh-pages
  .github/workflows/static.yaml
  package.json
Labels: none

chore: add missing label action
  .github/workflows/label.yaml
Labels: none

fix: gh-pages action
  .github/workflows/static.yaml
Labels: none
